<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Default suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e5a7da">  <td>21/12/08 17:00:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GooglePageTest.seleniumSearchTest()[pri:0, instance:testNGScripts.GooglePageTest@48e4374]">seleniumSearchTest</td> 
  <td>main@959869407</td>   <td></td> </tr>
<tr bgcolor="e5a7da">  <td>21/12/08 16:59:59</td>   <td>-2042</td> <td>&nbsp;</td><td title="&gt;&gt;GooglePageTest.setup()[pri:0, instance:testNGScripts.GooglePageTest@48e4374]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@959869407</td>   <td></td> </tr>
<tr bgcolor="e5a7da">  <td>21/12/08 17:00:03</td>   <td>2590</td> <td>&nbsp;</td><td title="&lt;&lt;GooglePageTest.teardown()[pri:0, instance:testNGScripts.GooglePageTest@48e4374]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@959869407</td>   <td></td> </tr>
</table>
