<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="db82ae">  <td>21/12/10 17:07:15</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;LoginTest.setup(java.lang.String)[pri:0, instance:testNGScripts.LoginTest@50a638b5]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1610525991</td>   <td></td> </tr>
<tr bgcolor="db82ae">  <td>21/12/10 17:07:18</td>   <td>2950</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verfiyLogin(java.lang.String, java.lang.String)[pri:0, instance:testNGScripts.LoginTest@50a638b5]">verfiyLogin</td> 
  <td>main@1610525991</td>   <td></td> </tr>
<tr bgcolor="db82ae">  <td>21/12/10 17:07:31</td>   <td>15283</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verfiyLogin(java.lang.String, java.lang.String)[pri:0, instance:testNGScripts.LoginTest@50a638b5]">verfiyLogin</td> 
  <td>main@1610525991</td>   <td></td> </tr>
<tr bgcolor="db82ae">  <td>21/12/10 17:07:41</td>   <td>26202</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verfiyLogin(java.lang.String, java.lang.String)[pri:0, instance:testNGScripts.LoginTest@50a638b5]">verfiyLogin</td> 
  <td>main@1610525991</td>   <td></td> </tr>
<tr bgcolor="db82ae">  <td>21/12/10 17:07:42</td>   <td>27140</td> <td>&nbsp;</td><td title="&lt;&lt;LoginTest.teardown()[pri:0, instance:testNGScripts.LoginTest@50a638b5]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1610525991</td>   <td></td> </tr>
</table>
